/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}
h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 2em;
}

p {
  border: 1px solid black;
  height: 150px;
  background-color: grey;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 16px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: grey;
}

#Peter {
  border: 1px solid black;
  background-color: maroon;
  position: absolute;
  right: 0;
  margin-top: 0;
  width: 100px;
  height: 40px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  clear: both;
}

#Paul {
  border: 1px solid black;
  background-color: yellow;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 40px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#John {
  border: 1px solid black;
  background-color: blue;
  position:absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 40px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/********** Small/Mobile devices only **********/
@media (max-width: 767px) {

  .col-sm-11 {
    float: left;
    border: 2px solid black;
    height: auto;
    margin-right: 12px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    position: relative;
  
  }
}

/********** Tablet/Medium view only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-3, .col-md-11 {
    float: left;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
    margin-left: 15px;
    position: relative;

  }
  .col-md-3 {
    width: 46%;
  }
  .col-md-11 {
    width: 95%;
  }  
}

/********** Large/Desktop view only **********/
@media (min-width: 992px) {

  .col-lg-3 {
    float: left;
    border: 2px solid black;
    width: 31%;
    margin-right: 12px;
    margin-left: 15px;
    position: relative;

  }
}

